<div id="maincontainer">
<div id="container">
    <div id="left">
        <form action="/action_page.php">
            <p>Enter your name:</p>
            <input type="text" id="fname" name="fname"><br><br>
            <p>Enter your phone number:</p>
            <input type="tel" id="lname" name="lname"><br><br>
            <p>Enter message:</p>
            <input type="text" class="text" id="lname" name="lname"><br><br>
          </form>
    </div>
    <div id="right">
        <h2> Contact Us</h2>
        <p id="red">Contact us in a convenient way ...</p>
        <p id="red">Phone</p>
        <br/>
        <p>077 - 420 - 6969 <br/>
            077 - 420 - 6969 </p>
            <br/><br/>

        <p id="red">Email</p>    
        <p>papayalobsters@gmail.com</p>
        <div >
            <div id="btn">
                <p>Learn more</p>
            </div>
            <img id="image" src="assets/f3.png" alt="">
        </div>
    </div>
</div>

<hr>
<div id="footer">
    <h1 id="logo">Foodie</h1>
    <div>
        <h4>About us</h4>
        <br/><a>Price</a>
        <br/><a>Menu</a>
        <br/><a>Main page</a>
    </div>
    <div>
        <h4>Services</h4>
        <br/><a>Delivery</a>
        <br/><a>Pakaging</a>
    </div>
    <div>
        <h4>Schedule</h4>
        <br/><a>Mn-Fr</a>
        <br/><a>9.00 am-7.00 pm</a>
    </div>
</div>
</div>