<div id="container">

    <div id="left">
        <img id="img" class="hand" src="assets/handquiz.png" alt="">
    </div>
    <div id="right">
        <span><h2 id="black">Why </h2><h2 id="red">Foodie </h2><h2> ?</h2></span>
        <p>Lorem Ipsum is simply dummy text 
            of the printing and typesetting industry. 
            <br>Lorem Ipsum is simply dummy text 
            of the printing and typesetting industry. </p>
            <p>Lorem Ipsum is simply dummy text 
                of the printing and typesetting industry. 
                <br>Lorem Ipsum is simply dummy text 
                of the printing and typesetting industry. </p>
        <img id="image" src="assets/f2.png" alt="">
    </div>

</div>
