

.landing_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 10vh;
}

.landing_top_left{
    padding-left: 5vw;
}

.landing_top h1{
    font-size:70px;
    font-weight: 700;
}

#red{
    color: #F54748;
}

#txt{
    font-size:20px;
    font-weight: 400;
}

#img{
    margin-right: 8vw;
}

#btn{
    width:100px;
    height:35px;
    background-color: #F54748;
    border-radius: 20px;
    padding: 8px 25px 8px 25px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    cursor: pointer;
}

#btn:hover{
    filter: drop-shadow(0px 4px 4px rgba(146, 0, 0, 0.514));
}

#row{
display: flex;
align-items: flex-start;
justify-content: space-between;
}

#foodcard{
    margin: 1.8vh;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

 #foodcard:hover{
    filter: drop-shadow(0px 4px 4px rgba(146, 0, 0, 0.514));
} 